<%- include('../components/base/head') %>
<body>
  <section class="section main-section flex justify-center items-center drop-shadow-xl h-screen bg-gray-300" style="position: absolute; width: 100%; left: 0px; top: 0px;">
    <h1 class="text-2xl">Ups, something wrong!</h1>
  </section>
</body>
<%- include('../components/base/footer') %>