<div class="field">
  <label><%= locals.label || locals.name %></label>
  <input class="input" type="<%= locals.type || 'text' %>" placeholder="input here"
    name="<%= locals.name %>"
    id="<%= locals.id || locals.name %>"
  >
</div>