<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li><%- title %></li>
    </ul>

    <button class="button blue --jb-modal" data-target="create-modal" type="button">
      <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
      <span><%- locals.btnText || 'Create New' %></span>
    </button>
  </div>
</section>